$base-font-color: #b1b1b1;
$blue:rgb(53, 53, 237);

.LoginContainer{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #808080;
    background-image: url("../../../../public/wallpaperflare.com_wallpaper\(3\).jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    // background-size:100vh;
    .SignuLoginBox{
        width: 30%;
        height: 70vh;
        margin: 0 100px;
        border-radius: 7px;
        padding: 50px;
        background-color: white;
        box-shadow: -9px -12px 99px 16px rgba(21,19,19,0.27);
        -webkit-box-shadow: -9px -12px 99px 16px rgba(21,19,19,0.27);
        -moz-box-shadow: -9px -12px 99px 16px rgba(21,19,19,0.27);
        .SignuContainer{
            width: 90%;
            margin: auto;
            .HeadTitle{
                font-weight: bold;
                .Loginname{
                    color:$blue;
                }
            }
            .LoginDescription{
                font-size: 14px;
                font-weight: bold;
                padding-top: 15px;
                color: $base-font-color;
            }
            .MainGridcontainer{
                padding-top: 30px;
                .Gridcontainer{
                    padding: 0 0 0 15px;
                }
                .ForgotContainer{
                    display: flex;
                    align-items: center;
                    justify-content:flex-end;
                    .Forgot{color:$base-font-color;}
                }
            }
            .MainGridcontainer2{
                width: 100%;
                .Gridcontainer2{height: 45px;font-size: 14px;}
            }
        }
        .Button-container{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .forgot{
            font-size: 14px;
            color: $base-font-color; 
        }
        .navLink{
            margin: 0px 5px;
            color: $blue;
        }
        .active{
            color: rgb(176, 117, 77);
        }
    }
}
@media screen and (max-width: 900px) {
    .SignuLoginBox{
        width: 50% !important;
        margin: 0px 80px !important;
        margin: auto;
    }
    .SignuContainer{width: 90%;}
    .MainGridcontainer2{
        .Gridcontainer2{
            width: 50vh !important;
        }
    }
}
@media screen and (max-width: 700px) {
    .LoginContainer{
        justify-content: center;
        align-items: center;
    }
    .SignuLoginBox{
        width: 60% !important;
        margin: 0px 10px !important;
        margin: auto;
    }
    .SignuContainer{
        width: 90% !important;
    }
    .Gridcontainer{
        padding: 0px 0px 0px 0px !important;
    }
    .LoginContainer{
        background-color: rgb(121, 24, 24);
    }
    .Gridcontainer2{
        width: 50vh !important;
    }
}
@media screen and (max-width: 500px) {
    .LoginContainer{
        display: flex;
        justify-content: center;
        align-items: center;}
    .SignuLoginBox{
        width: 300px !important;
    }
    .SignuContainer{
        width: 95% !important; 
    }
    .Gridcontainer{
        padding: 0px 0px 0px 0px !important;
    }
    .LoginContainer{
        background-color: rgb(30, 24, 121);
    }

}